*{
    padding: 0px;
    margin: 0px;
    
}
body{
    width: 100%;
    height: 900px; 
    box-sizing: border-box;
}
nav{
    height: 40px;
    background-color: black;
    position: sticky;
    color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    z-index: 10;
    top: 0;
    


}

#head{
    text-align: left;
    margin: 10px 40px;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 20px;
   
}
#about{
    display: flex;
    padding-left: 900px;

}

.deco{
   
    padding: 0px 10px;
    text-decoration: none;
    text-align: left;
    color: white;
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(234, 227, 227);
    /* padding: 10px; */

}
.sec{
    /* margin: 20px; */
    width: 700px;
    height: 700px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-content: center;
    /* z-index: 0; */
}
#table{
    margin: 30px;
}
caption{
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
table{
    width: 90%;
    height: 90%;
    border-collapse: collapse;
    border: 1px solid black;
    /* width: 700px;
    height: 700px; */
}
td,th{
    border: 1px solid black;
    
}
#mainform{
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
}
input{
     width: 650px;
     height: 30px;
 
} 
button{
    height: 30px;
    background-color: black;
    color: white;
    margin-bottom: 10px;
}
#reg{
    margin: 20px 0px;
    font-weight: bold;
}
#Register{
    margin-bottom: 30px;
}
head,a:hover{
    color: aqua;
}
label{
    font-weight: bold;
}